altair==4.2.0
bokeh==2.4.3
bloxs==1.0.2
colorama==0.4.5
colorcet==3.0.1
coloredlogs==15.0.1
colourmap==1.1.10
commonmark==0.9.1
GitPython==3.1.29
holoviews==1.15.2
Markdown==3.4.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
panda==0.3.1
pandas==1.5.1
pandas-bokeh==0.5.5
plotly==5.11.0
readme-renderer==37.3
seaborn==0.12.1
streamlit==1.15.1
streamlit-aggrid==0.3.3
streamlit-autorefresh==0.0.1

